In [2]:
import pandas as pd

Dataset is for National Survey on Drug Use and Health.  They did a survey with individuals from all states on drug use and includes lots of demographic information.

The codebook goes over what each column stands for and will be needed to decifer anything:
NSDUH-2015-DS0001-bndl-data-tsv/NSDUH-2015-DS0001-info/NSDUH-2015-DS0001-info-codebook.pdf

Link to original data here:
https://www.datafiles.samhsa.gov/study/national-survey-drug-use-and-health-nsduh-2015-nid16893

Posted it on DropBox as well:
https://www.dropbox.com/sh/v4a25iaq8yl2oa5/AADEtiNomZvn2B_vSWF3A8pHa?dl=0

In [3]:
drug_use = pd.read_table('../../Datasets/NSDUH-2015-DS0001-bndl-data-tsv/NSDUH-2015-DS0001-data/NSDUH-2015-DS0001-data-excel.tsv', sep='\t')

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2501) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
drug_use.head()

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,25095143,10/20/2016,1,99,99,16,2014,1,2,93,...,1.0,2,2,3,3,2,2,1088.413235,40028,1
1,13005143,10/20/2016,1,99,99,15,9999,99,3,93,...,2.0,1,2,2,2,2,2,4423.360328,40025,1
2,67415143,10/20/2016,2,99,99,991,9991,91,91,91,...,1.0,2,2,2,3,2,2,328.111801,40004,2
3,70925143,10/20/2016,2,3,4,991,9991,91,91,91,...,3.0,2,2,2,2,2,2,235.290450,40027,1
4,75235143,10/20/2016,1,99,99,17,9999,99,1,22,...,1.0,2,2,3,3,2,2,2280.878615,40011,1

In [5]:
drug_use.shape

(57146, 2666)

In [6]:
pain_col = [col for col in drug_use if col.startswith('PNR')]
oxy_col =  [col for col in drug_use if col.startswith('OXC')]
heroin_col = [col for col in drug_use if col.startswith('HER')]
heroin2_col = [col for col in drug_use if col.startswith('HR')]